/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(212, 230, 255);
    height: 100vh;
    overflow: hidden;
}

/* Aside */
aside {
    width: 10vw;
    height: 96vh;
    position: absolute;
    top: 2vh;
    left: 1vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    row-gap: 3vh;
    background-color: rgb(191, 0, 255);
}

aside h1 {
    background-color: white;
    width: 7vw;
    font-size: 1.2vw;
    color: rgb(191, 0, 255);
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.bttn-wrapper {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2vh;
}

aside button {
    width: 80%;
    max-width: 30%;
    height: 6vh;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 0.3vh;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    gap: 0.9vw;
    overflow: hidden;
}

aside div:nth-child(3) button {
    background-color: rgb(255, 162, 0);
}

aside div:nth-child(4) button {
    background-color: rgb(255, 255, 0);
}

aside div:nth-child(5) button {
    background-color: rgb(0, 255, 98);
}

aside div:nth-child(6) button {
    background-color: rgb(0, 38, 255);
}

aside div button i {
    font-size: 1.2vw;
    margin-left: 1vw;
}

aside div button span {
    font-weight: 500;
    font-size: 0.9vw;
}

aside button:hover {
    scale: 1.1;
}

aside button.active {
    max-width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

aside button.active:hover {
    scale: 1;   
}

.bttn-logout {
    justify-content: center;
}

.bttn-logout i {
    font-size: 1.5vw;
    margin-right: 1vw;
}

/* Container */
.container {
    width: 92vw;
    height: 100vh;
    position: relative;
    left: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.container section {
    position: absolute;
    top: 0;
    right: 0;
    width: 92vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.container .content-dashboard,
.container .content-tabel_siswa,
.container .content-tabel_user,
.container .content-tabel_walas {
    opacity: 0;
    scale: 0.8;
    transition: all 0.5s ease-in-out;
}

.container .content-dashboard.active,
.container .content-tabel_siswa.active,
.container .content-tabel_user.active,
.container .content-tabel_walas.active{
    opacity: 1;
    scale: 1;
    z-index: 1000;
}

.content-dashboard > span,
.content-tabel_siswa > span,
.content-tabel_user > span,
.content-tabel_walas > span {
    color: red;
    position: relative;
    top: 3vh;
    left: 2vw;
}

.content-dashboard h1,
.content-tabel_siswa h1,
.content-tabel_user h1,
.content-tabel_walas h1{
    color: red;
    position: relative;
    top: 3vh;
    left: 2vw;
}

table {
    width: 83vw;
    position: relative;
    top: 5vh;
    left: 2vw;
    border-collapse: collapse;
    margin-top: 2vh;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 1vh;
    text-align: center;
}

table .header_row {
    background-color: rgb(255, 0, 0) !important;
    font-weight: 700;
    color: white;
}

table .header_row .no_row {
    width: 5%;
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:nth-child(odd) {
    background-color:rgb(240, 240, 240);
}

table tr td a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: 700;
}

table tr td a:hover {
    color: rgb(242, 123, 123);
}

.content-dashboard .data_user {
    width: 32vw;
    height: 40vh;
    position: relative;
    top: 5vh;
    left: 2vw;
    background: linear-gradient(125deg,red,rgb(244, 78, 106));
    box-shadow: 4px 4px 10px gray;
    border-radius: 20px;
    padding: 1vh 1vw;
}

.content-dashboard .tambah_data {
    width: 32vw;
    position: relative;
    top: 8vh;
    left: 2vw;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.content-dashboard .tambah_data button {
    width: 12vw;
    height: 5vh;
    font-size: 1.1vw;
    font-weight: 500;
    color: white;
    box-shadow: 4px 4px 10px gray;
    background: linear-gradient(125deg,red,rgb(244, 78, 106));
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.content-dashboard .tambah_data button:hover {
    scale: 1.05;
}


.content-dashboard .data_user > h2 {
    color: white;
    font-size: 1.1vw;
    margin: 0.5vh 0 1vh 1vw;
    font-weight: 500;
    position: relative;
    top: 0.5vh;
}

.content-dashboard .data_user h2 i {
    font-size: 1.5vw;
    margin-right: 0.5vw;
}

.content-dashboard .data_user .chart_user {
    width: 98%;
    height: 85%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
}

.content-dashboard .data_user .chart_user .total {
    width: 30%;
    height: 70%;
    padding: 1vh 1vw;
    margin:0 1vw;
    border-radius: 20px;
    background-color: white;
    position: relative;
}

.content-dashboard .data_user .chart_user .total i {
    width: 2.5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    left: 0.5vw;
    bottom: 0.5vh;
    transform: translateX(-50%);
    background-color: red;
    color: white;
}

.content-dashboard .data_user .chart_user .total span {
    position: absolute;
    top: 1.5vh;
    right: 1vw;
    font-size: 1.1vw;
    font-weight: 700;
    color: red;

}

.content-dashboard .data_user .chart_user .total h2 {
    font-size: 5vw;
    position: relative;
    top: 10%;
    left: 18%;
    color: red;
}

.content-dashboard .data_user .chart_user .bagian {
    width: 15vw;
    margin-left: 1vw;
    border-radius: 50%;
}

.content-dashboard .data_user .chart_user .bagian .wrapper {
    background-color: white;
    border-radius: 20px;
    padding-left: 1vw;
    width: 100%;
    height: 5.5vh;
    margin-bottom: 1.5vh;
}

.content-dashboard .data_user .chart_user .bagian .wrapper span {
    font-size: 1vw;
    color: red;
}

.content-dashboard .data_user .chart_user .bagian .wrapper h2 {
    font-size: 1.3vw;
    color: red;
    position: relative;
    bottom: 0.3vh;
}